/**
 * app/css/album-player.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package gong-operator
 * @version 2024-05-02
 */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.album-player {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: minmax(100px, auto);
	grid-template-areas:
	  "cov cov"
	  "trk trk"
	  "prg prg"
	  "ctl ctl";

    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid #fff;

    &[playing] {
      .album-player__btn--play {
        // color: #fff;
        // background: transparent;
        // border: 1px solid #fff;
      }
    }

	@media screen and (min-width: 810px) {
		gap: 0.5rem;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: minmax(100px, auto);
		grid-template-areas:
		  "cov cov cov trk trk trk trk trk"
		  "prg prg prg prg prg prg prg prg"
		  "ctl ctl ctl ctl ctl ctl ctl ctl";
    }
}


button {
	font: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	display: block;
	width: max-width;
	cursor: pointer;
}


.album-player__cover {
	grid-area: cov;

	aspect-ratio: 1/1;
	overflow: hidden;
	
	img {
		width: 100%;
		max-width: 100%;
		object-fit: cover;
	}
}

.album-player__progress {
	grid-area: prg;
}

.album-player__controls {
	grid-area: ctl;
	display: flex;
	list-style: none;
	justify-content: center;
}

.album-player__btn {
	--btn-size: 4rem;
	width: var(--btn-size);
	height: var(--btn-size);
	display: block;
	overflow: hidden;
	font-size: 1.5em;
}

.album-player__btn--play {
	border-radius: 50%;
	background-color: #fff;
	color: #303030;
	// transform: scale(1.75);
	transform-origin: center center;
	text-align: center;
}

.album-player__tracklist {
	grid-area: trk;
	list-style-type: none;
	counter-reset: ol;
	margin-left: 1rem;
}

.album-player__tracklist {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	button {
		text-align: left;
	}

	> li {
		padding-left: 2rem;
		padding-right: 1rem;
		position: relative;
		cursor: pointer;
		width: max-content;
		transition: 250ms ease-out;

		&::before {
			counter-increment: ol;
			content: counter(ol);
			position: absolute;
			left: 0;
			color: rgba(255, 255, 255, 0.5);
			color: currentColor;
			padding-left: 0.5rem;
		}

		// &.current::after {
		// 	content: '>';
		// 	position: absolute;
		// 	top: 0;
		// 	left: -1.5rem;
		// }

		&.current {
			background-color: rgba(255, 255, 255, 0.9);
			font-weight: bold;
			color: #303030;
			border-radius: 99999px;
			border-radius: 4px;
		}
	}
}

